.amarillo{
background-color: yellow;

}

.rojo{
background-color: red;

}
div{
	height: 25%;
	width: 15%;
	font-size: 110%;
	margin-bottom: 2%;
    display: inline-block;
}
.pdl5{
	padding-left: 2%;
}
.pdt5{
	padding-top: 2%;
}

.MAY{
text-transform: uppercase;	
}