.amarillo{
background-color: yellow;

}

.rojo{
background-color: red;

}
div{
	height: 35%;
	width: 35%;
	font-size: 105%;
	margin-bottom: 2%;
	display: inline;
    
}
p{
	display: inline;
}
.pdl5{
	padding-left: 2%;
}
.pdt5{
	padding-top: 2%;
}

.MAY{
text-transform: uppercase;	
}